.body {
  background-color: rgb(255, 255, 255);
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Wix Madefor Text";
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: large;
  margin-top: 10px;
  border-bottom: 3px;
  border-bottom-style: solid;
  padding-bottom: 5px;
  align-items: center;
}
.Portfolio {
  display: flex;
  cursor: default;
  align-items: center;
  gap: 10px;
}
.home {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.HOME {
  color: var(--text-color);
  text-decoration: none;
}
.HOME:hover {
  color: rgb(0, 225, 255);
  transition: 0.15s;
}
.contacts{
    margin-top: 3cm;
    display: grid;
    row-gap: 30PX;
    justify-content: center;
    
}

.social_media{
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    width: 500px; 
    align-items: center;
    display: flex; 
    gap: 5PX;
    border-radius: 250px;
    justify-content: center;
}
.social_media:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.856);

}
.text{
    color: var(--text-color);
    text-decoration: none;
  
}